<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de libros</title>
</head>
<body>
    <h1>Lista de libros</h1>
    <table>
        <tr>
            <th>Isbn</th>
            <th>Titulo</th>
            <th>Autor</th>
            <th>Año</th>
        </tr>
        <tr th:each="libros : ${libros}">
            <td th:text="${libros.isbn}"></td>
            <td th:text="${libros.titulo}"></td>
            <td th:text="${libros.autor}"></td>
             <td th:text="${libros.anio}"></td>
        </tr>
    </table>
</body>
</html>